@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.menu-bottom{
    border-radius: 0;
}

.main{
    .section-top{
        .content-section{
            width: 100%;
            height: 50%;
            background-image: url("../images/bg-section.png");
            background-repeat: no-repeat;
            background-size: cover;
            .header-section-top{
                height: 10%;
                .back{
                    display: flex;
                    justify-content: flex-end;
                    padding: 10px;
                }
    
            }
            .content-top{
                width: 100%;
                display: flex;
                flex-direction: row;
                height: 90%;
                .section-right{
                    height: 100%;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 25px;
                 }
                
                .section-left{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    color: white;
                    padding: 25px;
                    justify-content: flex-end;
                    align-items: flex-end;
                    .content-left-top{
                        width: 100%;
                        .item{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            .bb{
                                text-align: end;
                            }
                            
                            h6{
                                margin-bottom: 0;
                                font-weight: bold
                            }
                        }
                        .price{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            color: white;
                            h6{
                                font-weight: bold;
                                margin-bottom: 0;
                            }

                        }
                        

                    }
                    .content-left-down{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .image-point{
                            display: flex;
                            justify-content: flex-end;
                            
                        }
                        span{
                            text-align: end;
                        }
                    }
                }
    
            }
        }
       
    } 

    .section-bottom{
        margin-bottom: 13px;
        .content-section-b{
            width: 100%;
            // height: 400px;
            // overflow-y: scroll;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color:white;
            box-shadow: 0px 1px 8px 0px #4c4c4c;
            .top-head{
                width: 100%;
                height: 15%;
                display: flex;
                justify-content: space-between;
                .text{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #9c9898;
                    .top-arrows{
                        font-weight: bold;
                        &.active{
                            ::before{
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                border-right: 30px solid #E1BA0A;
                                border-bottom: 17px solid transparent;
                                border-top: 1px solid transparent;
                                position: absolute;
                            }
                            
                        }
                    }
                    // .top-arrows{
                    //     display: none;
                    //     &.active{
                    //         span{
                               
                    //         }
                           
                    //     }

                    // }
                }
            }
            .second-sec{
                padding-bottom: 75px;
                .swiper{
                    display: none;
                    
                    &.active{
                        display: block;
                    }
                }



                .image-taste{
                    filter: brightness(100%);
                }
                .down{
                    width: 100%;
                   // height: 200px;
                   // overflow-x: scroll;
                    .ranges{
                        .ranges-content{
                            color: black;
                        }
                       }
                       .voting{
                        display: flex;
                        flex-wrap: wrap;
                        .voting-item{
                            display: flex;
                            label{
                                text-align: center;
    
                            }
                        }
                       }
                       
                       .comments{
                        width: 100%;
                        height: 120px;
                        overflow-y: scroll; 
                        margin-bottom: 25px;  
                                .comments-cotent{
                                    display: flex;
                                    border-bottom: 1px solid rgb(196, 194, 194); ;
                                    .img{
                                        display: flex;
                                        flex-direction: column;
                                        span{
                                            font-size: 10px;
                                            text-align: center;
                                        }
                                    }
                                    .text-des{
                                        font-size: 12px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        h4{
                                            margin-bottom: 0;
                                        }
            
                                    }
                                    .tarikh{
                                        display: flex;
                                        flex-direction: column;
                                        .tarikh-item{
                                            display: flex;
                                            justify-content: flex-end;
                                        }
                                        .like-item{
                                            display: flex;
                                            justify-content: flex-end;
                                            .like{
                                                border: 1px solid rgb(196, 194, 194);
                                                border-radius: 20px;
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                span{
                                                    margin-top: 3px;
                                                    padding: 5px;
                                                }
                                                img{
                                                    padding: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                       }
                }
                .swiper-slide{
                    display: flex;
                    justify-content: center;
                    .image-taste{
                        .Ntaste{
                            color: white;
                        }
                    }
                   } 
                   
            }
           
        }
        .footer{
            background-color:  #949090;
        }
    }
           
 }

@import "./medias";