@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.main {
                padding-bottom: 68px;
                .category-product{
                    .bbb{
                        .cart{
                            .cart-image-edit{
                                width: 100%;
                                height: 50%;
                              @include flex-column-center;
                              align-items: center;
                            }
                            .cart-image-trash{
                            @extend .cart-image-edit;
                            background-color: $color-bg-trash-image;
                            }
            
                        }
                    }
                    .product-item{
                        height: 130px;
                            .sweat-name{
                                color:$color-white;
                                font-size: 20px;
                                 font-weight: bold;
                            }
                            .description{
                                .description-item{
                                    color:$color-white;
                                    font-size: 12px;
                                }
                                .detiles{
                                    display: flex;
                                    .detiles-item{
                                        color: #fff;
                                        border-radius:5px;
                                        border: 1px solid rgb(119, 119, 119);
                                       @include flex-between;

                                        .left{
                                            background-color: rgb(77, 78, 78);
                                            border-radius:5px;
                                            
                                            
                                            padding: 3px;
                                            font-size: 10px;
                                            text-align: center;
                                        }
                                        .right{
                                            font-size: 10px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                            .moshakhaseh{
                                .box-item{
                                    border: 1px solid #cfd5db;
                                    display: flex;
                                    
                                
                                    span{
                                        color:white;
                                    }
                                    
                                    
                                }
                            }
                    }
                }
                .content-pakage{
                    display: none;
                    animation: feda-in 1s ease-in ;
                    &.active{
                        display: flex;
                    }
                    .btn-main{
                        bottom: 0!important;
                    }
                }
}


.content-modal{
                background-color:rgb(0 0 0 / 65%);
                .inner-modal{
                    .content{
                       
                        overflow-y: scroll;
                    .description-textarea{
                        width: 100%;
                        border: 1px solid #cfd5db;
                        border-radius: 5px;
                    }
                    .package-delkhah{
                        display: none;
                        &.active{
                            display: flex;
                        }
                    }
                }
                .height-size{
                    height: 556px;
                }
             }
}

@keyframes feda-in {
    0%{
      opacity: 0;
      transform: translateY(10px);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
@import "./medias";