@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

.content-modal{
  background-color:rgb(0 0 0 / 62%);
 .inner-modal{
   .content{
   .description-textarea{
    width: 100%;
    border: 1px solid #cfd5db;
    border-radius: 5px;
    outline: none;
   }
   .section-bottom{
    display: flex;
    .trash{
      display: flex;
      justify-content: center;
      background-color: #953636;
      border-bottom-left-radius: 20px;
      
    }
    .edit{
      display: flex;
      justify-content: center;
      background-color: rgb(77, 78, 78);
      border-bottom-right-radius: 20px;
    }
   }
  }
 }
 
 }



.container-admin{
    .header-m-oprator{
        .title{
            .icon-name{
                display: flex;
            }
        }
    }
}


.menu-admin {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: -100%;
  z-index: 100;
  display: flex;
  justify-content: end;
  padding: 10px;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  &.active {
    right: 0;
  }
  .overlay-menu-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(3px);
  }
  .inner-menu-mobile {
    width: 250px;
    height: 100%;
    background-color: rgb(59, 57, 57);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .list-menu-mobile {
      padding: 10px 0;
      height: calc(100% - 80px);
      overflow-y: scroll;
      height: 100%;
      li {
        margin: 20px 0;
        padding: 0 10px;
        font-size: 12px;
        font-weight: 300;
        position: relative;

        a {
          display: block;
          color: rgb(238, 232, 232);
          padding: 5px 10px;
          font-weight: 300;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
          &:hover {
            background-color:$color-btn-uppackage;
          }
          &.active {
            background-color: rgba($color-primary, 0.3);
          }
        }
        img {
          width: $w-img-two;
          margin-left: 20px;
        }
      }
    }
  }

}

.main {
    padding: 10px;
    // .content-home{
    //     .vitrinroz{
    //         height: 100px;
    //         border: 1px solid;
    //         color: red;
    //         /* text-align: center; */
    //         align-items: center;
    //         display: flex;
    //         justify-content: center;
    //       }
    //       .product{
    //         .title{
    //             display: flex;
    //             justify-content: space-between;
    //             color: #fff;
    //             font-size: 12px;
    //             .view-all{

    //             }
    //         }
    //       }
    // }
        .content-home {
          padding: 10px 0;
          margin: 0px 20px 20px 20px;
          @include flex-between;
          flex-wrap: wrap;
        }
        .swiper {
          &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            height: 100%;
            z-index: 2;
            // background-image: url("../images/test.png");
            
          }
          &::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            height: 100%;
            z-index: 2;
           
          }
    
          .swiper-button-prev,
          .swiper-button-next {
            color: $color-btn-uppackage;
            font-weight: bold;
            transform: scale(0.6);
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            -ms-transform: scale(0.6);
            -o-transform: scale(0.6);
          }
          .swiper-button-prev {
            right: -5px;
          }
    
          .swiper-button-next {
            left: -5px;
          }
    
          &.swiper-gh {
            .swiper-slide {
              @include centering;
            }
          }
        }
        .content-list {
          @include flex-between;
          justify-content: start;
          padding: 5px 0;
          overflow-y: hidden;
          overflow-x: scroll;
          width: 100%;
          &::-webkit-scrollbar {
            height: 10px;
            background-color: transparent;
          }
    
          /* Track */
          &::-webkit-scrollbar-track {
            background-color: transparent;
            border: 1px solid rgba($color-primary, 0.5);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
          }
    
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $color-bg-secondary;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            border: 1px solid $color-primary;
          }
    
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: $color-primary;
          }
        }
        .list-content {
          margin: 10px 0;
          .title{
             display: flex;
             justify-content: space-between;
             color: #fff;
             font-size: 12px;
             }
          .content-vitrinrooz{
                color: #fff;
                display: flex;
                .add-vitrinrooz{
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      .vitrinrooz-item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 120px;
                        border: 1px solid rgb(124, 122, 122);
                        border-radius: 15px;
                        background-color: #abacad81;
                      }

                }
            }
          .link-list{
            color: #FED304;
          }
        }
        .list-sefareshat-gh {
          .item-list-gh {
            &:nth-child(1) {
              margin-right: 0;
            }
          }
          .item-buy-product {
            width: 100%;
          }
        }
     .bg-color{
        background-color: rgb(88 88 88 / 43%);
        border: 1px solid rgb(107 105 105);
     }
     .right-title{
        color:  rgb(195, 195, 195);
     }
     .down{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        .title{
            color: $color-btn-uppackage;
           display: flex;
           justify-content: center;
        }
     }
}


.image-new-products{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
}




@import "./medias";
