@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";


.main {
   .Sales-operator{
        display: none;
        animation: feda-in 1s ease-in ;
        &.active{
            display: flex;
        }
        .btn-main{
            bottom: 0!important;
        }
    }
}
.content-modal{
    background-color: rgb(0 0 0 / 42%);
    .inner-modal{
        .content{
            color: #fff;
            background-color: #131212;
            .txt-header{
                display: flex;
                justify-content: start;
                padding: 5px;
            }
            .description-textarea{
                width: 100%;
                padding: 10px;
                font-size: 12px;
                background-color: #000000;
                color: #fff;
                outline: none;
            }
            .birthday-package{
                background-color: #565252;
            }
        }
    }
}

@keyframes feda-in {
    0%{
      opacity: 0;
      transform: translateY(10px);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
@import "./medias";
