@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";


.main {
    .content-price{
        display: none;
        animation: feda-in 1s ease-in ;
         &.active{
                 display: flex;
            }
        .category-price{
            .price-item{
                .moshakhasat{
                    .txt-main{
                        color: #fff;
                        .main-content{
                        display: flex;
                        flex-wrap: wrap;
                        border-bottom: 1px solid rgb(112 112 112 / 82%);
                        padding-bottom: 5px;
                        font-size: 12px;
                        .item-list{
                            display: flex;
                            justify-content: space-between;
                        }
                        }
                       .border-product{
                        border-bottom: 0;
                        padding-bottom: 0;
                       }
    
                      }
                      .Total-price{
                        display: flex;
                        justify-content: space-between;
                        font-size: 12px;
                        .item-list{
                            display: flex;
                            justify-content: space-between;
                        }
                      }
                }
            }
        }
        
    }
   
}
@keyframes feda-in {
    0%{
      opacity: 0;
      transform: translateY(10px);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
@import "./medias";
