@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";


body {
    overflow: hidden;
    .map-content{
        width: 100%;
        height: 94vh;
        #app {
            width: 100%;
            height: 100%;
        }
       
    }   
    .btn-bottom{
            background-color: rgb(33 33 33 / 82%);
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            position: fixed;
            padding: 0 25px 25px 25px;
            width: 100%;
            left: 0;
            bottom:-44vh;
            height: 50vh;
            overflow-y: scroll;
            z-index: 1000;
            transition: all 500ms;
            &.active{
                bottom: 0;
                .image-arrow{
                    .up{
                        display: none;
                    }
                    .down{
                        display: block!important;
                    }
                }
                }
                .btn-bottom-content{
                    height: 100%;
                    .image-arrow{
                        display: flex;
                        justify-content: center;
                        padding: 8px;
                        .down{
                            display: none;
                        }
                    }
                    .txt-top{
                        text-align: center;
                        color: white;
                        display: flex;
                        flex-direction: column;
                        font-size: 1em;
                    }
                    .city{
                        display: flex;
                        .images{
                            display: flex;
                            .aks{
                               @include centering();
                                padding: 3px;
                                flex-direction: column;
                                span{
                                    font-size: 0.8em;
                                }
                                .color-span{
                                    color: #CD9B38;
                                }
                                .colors-span{
                                    color: #838382;
                                }
                            }
                            .point{
                                display: flex;
                                align-items: center;
                            }
                           .checks{
                            font-size: 26px;
                            color: #CD9B38;
                            display: flex;
                           }
                        }
                    }
                    .text-item{
                        display: flex;
                        .textdown{
                            color: white;
                            font-size: 9px;
                        }
                    }
                    .address{
                        display: flex;
                        flex-direction: column;
                        color: white;
                        align-items: center;
                        .addres-item{
                            font-size: 0.9em;
                        }
                    }
                    .moshakhasat-item{
                        display: flex;
                        .fname{
                            display: flex;
                            span{
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
            
 }
 
@import "./medias";