@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";


.main {
   .content-price{
    .category-price{
        .price-item{
            .moshakhasat{
                    .download{
                        color: $color-btn-uppackage;
                        border: 1px solid $color-btn-uppackage;
                        border-radius: 5px;
                        span{
                            font-size: 0.8em;
                        }
                    
                    }
                    .description{
                        border: 1px solid rgb(88, 88, 88);
                        border-radius: 5px;
                        color: #fff;
                        span{
                            font-size: 0.8em;
                        }
                    }
                
            }
        }
    }
   }
   .content-price{
    display: none;
    animation: feda-in 1s ease-in ;
    &.active{
        display: flex;
    }
}
}
@keyframes feda-in {
    0%{
      opacity: 0;
      transform: translateY(10px);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
@import "./medias";
