@import "./base";
@import "./colors";
@import "./variables";
@import "./mixns";
@import "./component";

//style for modal
.content-modal{
   background-color:rgb(0 0 0 / 49%);
   
    .inner-modal{
        .content{
            border: 1px solid rgba(141, 139, 139, 0.63);
            background-color:  rgb(60 55 55);
            width: 300px;
            .name,.title{
                color: #fff;
            }
            .input-modal{
                width: 100%;
                background-color: rgba(21, 20, 20, 0.56);
                color: #fff;
                padding: 10px;
                border-radius: 5px;
            }
            .btns-modal{
                @include flex-between();
                padding: 10px 0;
                .after{
                    &::after {
                        content: "";
                        display: block;
                        width: 2px;
                        height: 80%;
                        position: absolute;
                        top: 10%;
                        left: 0;
                        background-color: #b1b1b1;
                    }
                }
                .btn-modal{
                    @include centering();
                    position: relative;
                    font-weight: 300;
                    font-size: 12px;
                    color:$color-btn-uppackage;
                }
            }
        }
    }
}



.main{
    .content-tickets{
        .content-items{
            .item-all-ticket{
                .item-ticket{
                    .des{
                        border: 1px solid rgb(112 112 112 / 82%);
                        border-radius: 7px;
                        background-color:black;
                        color: #fff;
                        font-weight: 300;
                        font-size: 10px;
                        min-height: 100px;
                        .des-content{
                            background-color:rgba(10, 10, 10, 0.65); 
                        }
                        .des-item{
                            border: 1px solid $color-bg-four;
                            border-radius: 7px;
                            background-color: rgb(111 110 110 / 43%);
                            font-size:10px;
                        }
                    }
                    .des-2{
                        .Response-tickets{
                            border: 1px solid $color-btn-uppackage;
                            border-radius: 5px;
                            text-align: center;
                            color: black;
                            cursor: pointer;
                            background-color: $color-btn-uppackage;

                        }
                    }
                }
            }
           
        }
        display: none;
        animation: feda-in 1s ease-in ;
        &.active{
            display: flex;
        }
    }
    
}
@keyframes feda-in {
    0%{
      opacity: 0;
      transform: translateY(10px);
  
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
@import "./medias";
